* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, 微软雅黑, sans-serif
}

body {
    color: #333;
    font-size: 12px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12px
}

ul,
ol {
    list-style: none
}

img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: #00E;
    text-decoration: none
}

a:hover,
a:focus {
    text-decoration: underline
}

strong,
b {
    font-weight: bold
}

button,
input[type='button'],
input[type='submit'] {
    cursor: pointer;
    border: 0;
    outline: 0;
    overflow: visible;
    -webkit-appearance: none;
    box-sizing: content-box
}

input,
textarea {
    outline: 0
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='password'] {
    color: #333
}

::-webkit-input-placeholder {
    color: #AAA
}

::-moz-placeholde {
    color: #AAA
}

::-ms-placeholde {
    color: #AAA
}

.clear {
    display: block;
    width: 100%;
    height: 0;
    clear: both
}

.body {
    margin: 0 auto
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.page-bar {
    display: flex;
    justify-content: space-around;
    margin: 30px 10px 80px
}

.page-bar a,
.page-bar span {
    position: relative;
    padding: 8px 6px;
    background: #FFF;
    color: #333;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    overflow: hidden
}

.page-bar span {
    background: 0;
    margin: 0
}

.page-bar a.current,
.page-bar a:hover {
    background: #5B77A5;
    color: #FFF
}

.page-bar a.line,
.page-bar a.line:hover {
    background: 0;
    cursor: default;
    color: #333
}

.page-bar a.prev,
.page-bar a.next {
    text-indent: -999px;
    width: 10px
}

.page-bar a.prev:after,
.page-bar a.next:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAV1BMVEVHcEwyMjI0NDQzMzM1NTUzMzMzMzMzMzMyMjIzMzMyMjIyMjIzMzMzMzMzMzM0NDQzMzMyMjIzMzMzMzMzMzMzMzMzMzMzMzM0NDQyMjIzMzNAQEAzMzObdbqPAAAAHHRSTlMAjU/2HBWpmYKTRonuPuU13C3L1CWfwgyjsboEPl3dFQAAAGpJREFUKM+908kOgCAMBNCiIO777vz/dxq9d3qD60tImQ4iiU+gmqEgWucode1apkOPRtdphNN1XVDp6memYUfU9bix6fpcOEkckYYljrNxuTGa9bA/Fuo8VGsl1kKtOlhl+qpIxxOf6MO8Ne0FnVBLUycAAAAASUVORK5CYII=) no-repeat center;
    background-size: 20px
}

.page-bar a.next:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAWlBMVEVHcEwzMzM0NDQzMzMzMzMyMjIyMjIyMjI2NjYzMzMyMjIyMjIzMzMzMzMzMzM0NDQzMzMzMzMyMjIzMzMzMzMzMzNAQEAxMTEzMzM0NDQzMzM7OzsrKyszMzNklMJJAAAAHXRSTlMAmk/2krGNghyhRonuPuU13JYt1CXLBBW6qMINDHPO/j4AAABkSURBVCjPvdLHCcAwEERRB0nOOYfpv027gi8Q2Ht9sGyYKPqnclSrhDhTWrLXDXmltiN36kdyo2kmH7TgfrHOjbzQfrPblfxQzOyCmxfar9DF+Cx8VH4JP5Tj4AmT4Sh6gvxBPV1sBbQPAE2SAAAAAElFTkSuQmCC)
}

.page-bar a.prev:hover:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAYFBMVEVHcEz////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////1QUVpAAAAH3RSTlMAmk/2FamNgpIcRonuPuU13C2W1CWfwgSjsbrLyg0MGnxMpAAAAG5JREFUKM+9k8cNwEAIBHE655zj9t+l7QJYfsd3JATDIuK5YkpDJIQWEVKd1hWjbYNSp30Hp9NpRKbT/MJA9l0Q6PQ5MOt03bERHQGVJY5jo7ncdDRrsU/LybRYUq2TWAe14mCF6Y8iHU9yTw/zAvKjBgpTCQVyAAAAAElFTkSuQmCC)
}

.page-bar a.next:hover:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAXVBMVEVHcEz///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+EHRzTAAAAHnRSTlMAgE/2sY2ahhySRu4+5TXcli3UJcsEFaOfuqjCDQyKym9nAAAAZUlEQVQoz73SxwnAMBBEUSfJOec0/ZdpV/AFAnuvD5YNEwT/VIaaKCIOFRfkqcqKvW7IjdqePNcwkneacD+rcyHftN/kq5KZ/JBlNt7NN+2X72J8Fj4qv4QfynFwhCnnKDqC/EE90OIF+AmJwYgAAAAASUVORK5CYII=)
}

.page-bar- {
    display: flex;
    justify-content: center;
    margin: 30px 10px 80px
}

.page-bar- a {
    position: relative;
    padding: 8px 15px;
    margin: 0 15px;
    background: #FFF;
    color: #333;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    overflow: hidden
}

.page-bar- a:hover {
    background: #5B77A5;
    color: #FFF
}

@media screen and (min-width:0) {
    .body {
        width: auto
    }
    .pcb {
        display: none
    }
    .mb {
        display: block
    }
    .pcf {
        display: none
    }
    .mbf {
        display: flex
    }
    .pcm,
    .pc2m1 {
        display: block
    }
    .pc2m1>div {
        width: auto
    }
    .page-bar a,
    .page-bar span {
        display: none
    }
    .page-bar a.m {
        display: block
    }
    .content {
        padding: 10px
    }
}

@media screen and (min-width:680px) {
    .body {
        width: auto
    }
    .pcb {
        display: block
    }
    .mb {
        display: none
    }
    .pcf {
        display: flex
    }
    .mbf {
        display: none
    }
    .pcm,
    .pc2m1 {
        display: block
    }
    .pc2m1>div {
        width: auto
    }
    .page-bar a,
    .page-bar span {
        display: block
    }
    .content {
        padding: 0
    }
}

@media screen and (min-width:1200px) {
    .body {
        width: 1200px
    }
    .pcb {
        display: block
    }
    .mb {
        display: none
    }
    .pcf {
        display: flex
    }
    .mbf {
        display: none
    }
    .pcm,
    .pc2m1 {
        display: flex
    }
    .pc2m1>div {
        width: 50%
    }
    .page-bar a,
    .page-bar span {
        display: block
    }
    .content {
        padding: 0
    }
}

.header {
    width: 100%;
    height: 60px;
    background: #ffffff;
}

.header .body {
    display: flex
}

.header .logo,
.footer .logo {
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -999px;
    background: url(./logo.png) no-repeat center;
    background-size: 60%;
    overflow: hidden
}

.header .search,
.header .menu {
    height: 80px;
    padding-left: 20px;
    margin-left: auto;
}

.header .search .input,
.header .menu {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden
}

.header .search .input {
    display: flex;
    justify-content: space-between;
}

.header .search .input a,
.header .menu a {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -999px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAilBMVEVHcEz///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+xrdUHAAAALXRSTlMADSqrQPPVv4CymSZyT+bd6jkjebrFM8xD70pmnxnZyYsUttCbXFc9MPcV34fZjQhEAAABD0lEQVQYGX3AB1bCQABF0Z86M6n0ptKr+va/PQkcCGWOV3fdwqQdOqkpunoTG1om1jNLI5mbeULD6pEBxv1cjbw/BoxaQPqh1kcK6GYN6ZcefaWw1tUWjF4Z2Koxgc1Kr1YbmOjMwU7vduAkhTCQzwBCycJSPkuw0hBK+ZQwlGoI5RNCLSUQyCeAREogkE8AifQDuXxyqKUFxPKJYSj9QiGfAqwUQiSfCA6SHMR6F8NCZzNweudgr4aDSK8iiHTRTcDqmYW0p6sY+BypNfoE9rrpVUBW6qrMgJTTTDdBBNBxmc1cB8CENdOJ7ooprSQLNKqouro79gdcVM72dHaYUh/16DuM80A3sxNj/aOszB+B+CRU3CAbyAAAAABJRU5ErkJggg==) no-repeat center;
    background-size: 40%;
}

.header .search .input input {
    width: 170px;
    padding-left: 10px;
    height: 40px;
    border: none;
    display: none;
}

.header .search:hover .input {
    width: 220px;
    height: 40px;
    background: #FFF;
}

.header .search:hover .input a {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAaVBMVEVHcEyampqZmZmZmZmZmZmXl5eXl5eZmZmZmZmampqampqZmZmZmZmZmZmZmZmbm5uZmZmampqZmZmYmJiZmZmZmZmcnJyYmJibm5uZmZmZmZmZmZmampqZmZmYmJiZmZmbm5uZmZmZmZmG6EbvAAAAInRSTlMA1dwN9IBAKLO/TquZcscxzubqWTlEI3kUuu9mnxmLmz2HDilaHAAAAQZJREFUGBl9wAl2gjAARdEPJCRhxlnr1Lf/RRb0ICo5vXrZ1CFZsUpCvdFCHpiFXJ8sI5OG1DCyeheAbu80cvsOCJoByY9mPwmgiYfkoneXBLyebhD0LcBNoy10B307dLDVwMNaS2vwkhwcFXMEJ1m4KuYKVmqgUEwBjZSCU4yDVDKQKSYDIxnIFJOBkVJwinGQSg3kismhkX6hVkwNVnJQKqaEuyQPuZZyaDQowGvJw1ojD6W+lVDqYWPA6pOFZKenHDi3mrVnYK3JrgeqQk9FBSSYQpOsBFj5ylZ+BRBcymmrl/rEzFSZ2p5+o5d2f+Sh93anwf1E2urdweUu02Rr6PSPog9/3J4byP8RiOcAAAAASUVORK5CYII=);
    background-color: #F0F0F0;
}

.header .search:hover .input input {
    display: block;
}

.header .menu {
    padding-left: 0;
}

.header .menu a {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAANlBMVEVHcEz///////////////////////////////////////////////////////////////////+GUsxbAAAAEXRSTlMAFbWfgJJJv0BVCicxmVtqIEr2oXwAAABMSURBVCjPY2AYwoCNiZ2dnZWRgYGXHQUwc4KlWQRBgIOBQxANsBCjeyABFw8HBwc3kCHAgQJ4uMDSfGBfAOXRPcZPjDQBw0cjdHABAHS7CiutjtsCAAAAAElFTkSuQmCC);
    background-size: 60%;
}

.header .menu-box {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #328AF1;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 19;
}

.header .menu-box a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    color: #FFF;
    text-align: center
}

.header .menu-box .close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeAgMAAABGXkYxAAAADFBMVEX///9HcEz///////+dn669AAAAA3RSTlOAAOyy/3ENAAAAaUlEQVQY02MIhYAABnwMRSAV0gpk7AEygp8CGfaioaH+R4EM/6OhQA6QEfwxNOQPSDGQBLJB2u1FgbIghv9RoHoQI/jDH4jJIf8/Qq2wP4rGgEvBFcO1wwyEWwG3FO4MuMPgToU7nrBPAbPSXFmKoFVFAAAAAElFTkSuQmCC) no-repeat center;
    background-size: 50%;
    text-indent: -999px;
    overflow: hidden;
}

.header h1 {
    height: 60px;
    line-height: 62px;
    color: #000;
    font-size: 22px;
    margin-left: 10px;
    font-weight: normal;
    overflow: hidden;
    word-break: break-all;
}

.footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, #2f84eb, #1b50b8);
    margin-top: 30px;
    overflow: hidden;
}

.footer .logo {
    margin-top: 20px;
    margin-left: 15px;
}

.footer p {
    color: #FFF;
    margin-left: 15px;
}

.content {
    margin-top: 30px;
    min-height: 60%
}

.box {
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
    margin-bottom: 10px;
}

.content-menu {
    width: 200px;
    min-width: 200px;
    margin-right: 40px;
}

.content-menu a {
    display: block;
    height: 40px;
    line-height: 40px;
    margin-bottom: 8px;
    border: 1px solid #ECECEC;
    background: #F7F7F7;
    color: #999;
    border-radius: 12px;
    text-indent: 26px;
    text-decoration: none;
    font-size: 14px;
}

.content-menu a:hover,
.content-menu a.current {
    background: #ECF3FC;
    border-color: #6CB2EB;
    color: #328AF1;
    font-weight: bold;
}

.content-menu a i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: no-repeat center;
    background-size: 100%;
    position: relative;
    top: 3px;
    margin-right: 8px;
}

.content-menu a.repo i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAALVBMVEWXl5eXl5dHcEyampqZmZmcnJyZmZmZmZmZmZmZmZmZmZmampqampqZmZmZmZmDCL0lAAAADnRSTlNAgAC/fyEpqYz3ttRRzDEHpwsAAACZSURBVBjTY1BCBQyY/Kh3MPAqCMSve2wMBXZMQL7qu4cwxXIgvsK7hwoMqHzFB6h8FQFUPrp+RQH8+tHNx9BvgF8/unpCfAYogPIRAMI3RgkPhcdKqPofKykKOgrB+WpA/rt3j+B8pXuFIL6io6AghK/+UOVl3yM9oPGvk8DxkaDyRvmRAtB+Nmj8qDSpTkKOLwUlJSYc8QcA4s51Dc7IM1IAAAAASUVORK5CYII=);
}

.content-menu a.user i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAXVBMVEVHcEyZmZmampqZmZmampqZmZmZmZmZmZmampqZmZmampqampqbm5uZmZmampqZmZmXl5eZmZmZmZmXl5eZmZmampqZmZmYmJiampqampqZmZmZmZmYmJiZmZmZmZm3xl8GAAAAHnRSTlMA6sZVMoy6mTmtLNMIUVqmgODwG/OG+BDlvXlmuHYVoykdAAAAtElEQVQYGc3AW1aDMABF0QsEkvAGhD7UM/9h2oW0SpJ/3fovRn+d/Ki0umFumpmrUwq868GCEiyjdh2lYlOlQzUpsmB1sCwK1aw6lBhFskEHnyk2bLV2y5tXrKfRLqdXQkl2L7rPmbtSTMXuwyhmLGy5tfkG1ihQwOBaPbSugkInBXR6WaHQLw50Ak4/PKtOOrxeeioFBno95TgFHLmesrlVoJ0zHS7cFLlx0beaUpESo7/1BffgCoOA+CDTAAAAAElFTkSuQmCC);
}

.content-menu a.issue i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAP1BMVEVHcEyZmZmZmZmZmZmampqZmZmZmZmZmZmZmZmZmZmZmZmUlJSZmZmYmJiampqYmJiXl5eXl5eZmZmZmZmZmZmk42LmAAAAFHRSTlMA8+p0PoZmzdzFrAmTHjI5gBa50pKG2KsAAADaSURBVCjPrZNLEoQgDESjgAFBUej7n3UWQkCLqnGhq8AjH9qG6KNvV85Ok3VqH0C9ApiZZwCrftIAsDqJiE7FQLhTi7y01ZJhe+qQfL/2Ca6tjBTTWpoZmQpccnegjO0Z9eSKRQ7K5oL1CiJY2mybhIxYOh8jlY7S3aGlGNMKleHt3FKAFs/X3SceY57e4D/FHc4RPstoCmqE6/beydJhrvo2UTssopJG9k/ss6hPAanm1DqpN4xFuNshPO3CvZm4N8v128DHRkS0HYxmlXdGJqJormdg4lcP6wfL6wrt8lmV/QAAAABJRU5ErkJggg==);
}

.content-nav {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 30px auto
}

.content-nav a {
    display: block;
    position: relative;
    color: #333;
    font-size: 18px;
    min-height: 30px;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.content-nav a i {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 6px;
    width: 18px;
    height: 18px;
    background: no-repeat center;
    background-size: 100%;
}

.content-nav a:hover:after,
.content-nav a.current:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #F44881;
    left: 0;
    bottom: 0;
}

.content-nav .overview i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAWlBMVEVHcEwzMzMyMjIzMzMzMzMzMzM4ODgyMjIzMzM5OTkxMTEzMzMyMjIzMzMzMzMyMjIzMzMzMzMyMjIyMjIyMjIzMzMzMzMyMjIxMTEzMzM1NTUyMjIzMzMzMzO2FwYCAAAAHXRSTlMA52G2re8EgEAMQ8J3J2lvZPZULkfZoZ0XkB0zzJIAmfcAAACuSURBVCjP7ZK5AoMgEEQROVY5jPeRzP//ZoKCxDopUmSqYWeZbR5jn6si/dKNgr83wVOVU19gl2WsfxwWhU9pnSYdW5BVx+YRhsdNAWmXYLjBePQPgI6paiGi1cCQTDpDACWfPv3jn4t5nvVAnzd5gqV0kQzvI2OuPHGZATk1pFKtomaSwMxOhIJas3bb1q2m3Z8io0q6lG8QQpaarqgrsmLnuRA237nKce7Y9/QElP4YskradZQAAAAASUVORK5CYII=);
}

.content-nav .issues i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAMAAAB61OwbAAAAb1BMVEVHcEwyMjIuLi4yMjIzMzMzMzM0NDQzMzMyMjIzMzMzMzMzMzMzMzMzMzMzMzM0NDQzMzMzMzMzMzM0NDQzMzM2NjYzMzM0NDQ0NDQzMzMzMzMyMjIzMzM0NDQ0NDQ7OzszMzMrKysxMTEwMDAzMzOuJuqNAAAAJHRSTlMANQt7VaBAv4DVOXHb61ITprkjXZQmaJmyqeJH9IVJDccMKiDMP2HVAAAA2ElEQVQoz61T1w6DMAykzLChbDrouP//xobSJKaJFFWqn872xTuO80+5thlWiS8nk/tQQUl10Pw+AOQ1C736vML0y58CmJINu0UMgO38DEBD9ACAT/QGQLl7cdwx3BgoPqWw5wZCIHYFwQMCGVugFvAEIcZNwAiRSJIjExMAep2wFprIFhIDoZetDsDdQOiAYUMjYsdAcGaMJsKkE2iKUAVQKWiRRFSRtM008vU2yaDKHLM+KDpqSCsdNVnWg5WGZVnXbT8Y+8nZj9Z+9vaP85alC7vlt//4AglDHGbsV/t5AAAAAElFTkSuQmCC);
}

.content-nav .code i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEVHcEwzMzMyMjI0NDQzMzMyMjIxMTEzMzMyMjI0NDQyMjIzMzMzMzM4ODgzMzMyMjIyMjIzMzMzMzNAQEAzMzMyMjIzMzMzMzMyMjIzMzMzMzMzMzMzMzMyMjI0NDQ0NDQyMjIzMzM0NDQzMzMe1e+NAAAAI3RSTlMAoCg3sMALx4A/IOMYEetJLarQBLhR8/swZubb2rGZRYmGXaHg164AAACpSURBVCjP5VFHEsMwEMKx1dx7Sw///2MOlmTpDd4TAzs7wAJXnlumPRQpAJ3cTjXvmTncUQNI2OeOKRXvrcUruQJoH1TlwVSCRepWv1QAgLSgqABAjqyNU+XO34FMzVECw5Nz411s3B1sZmYDXlym06Tix+NpYRfLhsxjOTqesEN8PLRWkn7TWguDaZsqDBbUUnOzalCLL9WwqLyJs1T3EinejohecsH5A1+1DEjLPmNfAAAAAElFTkSuQmCC);
}

+.content-search {
    width: 100%
}

.content-search {
    display: flex;
    justify-content: space-between;
}

.content-search .select,
.content-search .input {
    position: relative;
    width: 200px;
    max-width: 45%;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    background: #F7F7F7;
    border-radius: 20px;
    color: #999;
    font-size: 14px;
}

.content-search .select span {
    display: block;
    padding-right: 30px;
}

.content-search .select i {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAQlBMVEVHcEyZmZmZmZmZmZmYmJiZmZmZmZmampqZmZmampqZmZmenp6ZmZmXl5eYmJiampqgoKCampqZmZmZmZmampqZmZlRFdKtAAAAFXRSTlMAvKyYFYehzZEcswvEgCWpBNby5Cbx3u5VAAAAb0lEQVQYGe3BiRGCMABFwRfIScKl/v5b1XEUgcBYgO7y0yyVxCKGgT01vPUKia2LehZOxbJ2lWMlymQ+ZkU2WnUsglp2vEZejDyVRp6nRiO1qVPLg1c3cSAbRYgymUO2yDkVy4kUpJA4dZvDwN9Xd8f5A7G0BxCdAAAAAElFTkSuQmCC) no-repeat center;
    background-size: 100%;
}

.content-search .select .option {
    position: absolute;
    min-width: 180px;
    top: 40px;
    left: 5%;
    width: 90%;
    background: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 9;
}

.content-search .select .option a {
    display: block;
    color: #999;
}

.content-search .select .option a:hover,
.content-search .select .option a.current {
    background: #EEE;
    text-decoration: none;
}

.content-search .select:hover i {
    transform: rotate(180deg);
}

.content-search .select:hover .option {
    display: block;
}

.content-search .input {
    width: 220px;
    margin-left: 10px;
    overflow: hidden;
}

.content-search .input input {
    display: block;
    width: 90%;
    padding-left: 15px;
    height: 40px;
    border: none;
    background: none;
}

.content-search .input a {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    text-indent: -999px;
    overflow: hidden;
    background: #F7F7F7 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAaVBMVEVHcEyampqZmZmZmZmZmZmXl5eXl5eZmZmZmZmampqampqZmZmZmZmZmZmZmZmbm5uZmZmampqZmZmYmJiZmZmZmZmcnJyYmJibm5uZmZmZmZmZmZmampqZmZmYmJiZmZmbm5uZmZmZmZmG6EbvAAAAInRSTlMA1dwN9IBAKLO/TquZcscxzubqWTlEI3kUuu9mnxmLmz2HDilaHAAAAQZJREFUGBl9wAl2gjAARdEPJCRhxlnr1Lf/RRb0ICo5vXrZ1CFZsUpCvdFCHpiFXJ8sI5OG1DCyeheAbu80cvsOCJoByY9mPwmgiYfkoneXBLyebhD0LcBNoy10B307dLDVwMNaS2vwkhwcFXMEJ1m4KuYKVmqgUEwBjZSCU4yDVDKQKSYDIxnIFJOBkVJwinGQSg3kismhkX6hVkwNVnJQKqaEuyQPuZZyaDQowGvJw1ojD6W+lVDqYWPA6pOFZKenHDi3mrVnYK3JrgeqQk9FBSSYQpOsBFj5ylZ+BRBcymmrl/rEzFSZ2p5+o5d2f+Sh93anwf1E2urdweUu02Rr6PSPog9/3J4byP8RiOcAAAAASUVORK5CYII=) no-repeat center;
    background-size: 40%;
}

.nav-title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-indent: 10px;
}

.none-data p {
    padding: 24px;
    line-height: 36px;
    text-align: center;
    font-size: 32px;
    color: #666;
}

.none-data .box {
    width: 60%;
    margin: 0 auto 50px;
    background: url(./none.png) #FFF no-repeat center;
    background-size: 50%;
    height: 200px;
}

.repo-list .item {
    display: flex;
    padding: 15px 20px;
    background: #F7F7F7;
    border: 1px solid #ECECEC;
    border-radius: 12px;
    margin-bottom: 12px;
}

.repo-list .item .detail em {
    font-style: normal;
}

.repo-list .item .detail .title {
    display: block;
    font-size: 16px;
    margin-bottom: 14px;
    font-weight: bold;
}

.repo-list .item .detail .title a {
    color: #328AF1;
}

.repo-list .item .detail .title span {
    font-weight: normal;
    color: #999;
    font-size: 14px;
}

.repo-list .item .detail .title i {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    margin-right: 4px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAMFBMVEUyMjJHcEw0NDQzMzMyMjIzMzMxMTEyMjIzMzMzMzMyMjIzMzMyMjIzMzM1NTUzMzMnLbvAAAAAD3RSTlOAAEC/fyEpqfPQtotRjD8qmyytAAAAmUlEQVQY02MQRAUMmPyo/zDwKxDEr/9sDAX2ikC+6P8PMMX8IL7Q/w9CSqh8gU+ofBEmVD66fgEm/PrRzcfQb4RfP7p6QnwlKIDyEQDCN0YJD6HPgqj6PwsKMDgwwvliQP7//x/hfMH5BSC+gAMDA4Qv/kHk//2P8kDjfyaC4yNJ5I/wRyGg/WrQ+BHZKNqIHF9CgoIPccQfAKTDa3kXDfEBAAAAAElFTkSuQmCC) no-repeat center;
    background-size: 100%;
}

.repo-list .item .detail .text {
    margin-bottom: 14px;
}

.repo-list .item .detail .more {
    color: #999;
}

.repo-list .item .detail .more a {
    color: #328AF1;
}

.repo-list .item .data {
    margin-left: auto;
    width: 150px;
    color: #999;
    font-weight: bold;
    position: relative
}

.repo-list .item .data span {
    display: block;
    line-height: 24px;
    text-align: right;
}

.repo-list .item .data i {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background: no-repeat center;
    background-size: 100%
}

.repo-list .item .data i.lang {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    top: 1px;
    margin-left: 1px;
    margin-right: 5px;
}

.repo-list .item .data i.star {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAeFBMVEVHcEyZmZmZmZmZmZmampqZmZmZmZmXl5eZmZmZmZmZmZmZmZmampqampqXl5ecnJyZmZmampqampqZmZmenp6ampqZmZmZmZmZmZmXl5eZmZmampqZmZmgoKCZmZmZmZmZmZmZmZmZmZmampqZmZmZmZmZmZmZmZnHDBMCAAAAJ3RSTlMARXJ5I5qfgOCnjvgRNj8Zv+VX7AvEa7GGYWVbKASVTX3QttTutNZqzzduAAAA9UlEQVQYGa3BB26DQABFwU/dpRlwwT220979b5g1JmiJTKRImdGfRLl+cQWjWWsLbak5HY7RHIvTasYe0hQiPWehqqDVU3vIpAwOmjrHwWGXWQikAGy264LTWb2gsQy2crYMbLOUlPFQ3JJSTpl/FjykkpaAucRrecrqeAWMHAPs9EMOROoZ4EUTL0CogQFSeVKg08gAmUYZsJfHACcNYuCoiRvEGtSQa6rgXaMVjSZq2MiJF3IaCk0EkEhVApullEMtXwhhldD7WHRwkS+BhFEKRr4NPSNFBXdb+VY4RnfrcAW08r2B0bcysrzKt1jIV4ex/sEXYXofTjEjvssAAAAASUVORK5CYII=);
}

.repo-list .item .data i.fork {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAXVBMVEVHcEyampqYmJiZmZmZmZmZmZmampqXl5eampqZmZmZmZmAgICWlpaYmJiZmZmZmZmZmZmZmZmZmZmZmZmcnJyYmJiZmZmZmZmampqZmZmZmZmZmZmZmZmZmZmZmZnMxOwyAAAAHnRSTlMAS6Z0mMq/gKCttgMePlPkWLCSehIv2Or0ZzdmiWyo18w6AAAA2UlEQVQYGZXAB26DQABE0QG20nFv+fc/ZrC9QiRmpeTpL3xZeq34svRa8DRpMfGkxDPsDHglHnw14PUW+ZImopJILQWi3gJesjyUPLCSIejtDrWDm5IbuAnuSiJApUUFELXoYdTKCL1WoNdKD1qLDEctjgNRa+0J1yhpHKdWPxQQlAQo9EsFe73sodKHAIVmBQR9OljOrdSesQdt6C5YyXLptOkKxsBVGTuAnXIaB65RVged8kYYlWUAjDIKsDUU2mZwUsBoW0kt1ZTa5iEE8MrgRVk+Rq9/+Ab79hGu9GSgAwAAAABJRU5ErkJggg==);
}

.user-list {
    margin-top: 20px;
}

.user-list .item {
    display: flex;
    padding: 15px 20px;
    background: #F7F7F7;
    border: 1px solid #ECECEC;
    border-radius: 12px;
    margin-bottom: 12px;
}

.user-list .item img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-right: 15px;
}

.user-list .item .detail em {
    font-style: normal;
}

.user-list .item .detail .title {
    display: block;
    font-size: 16px;
    margin-bottom: 14px;
    font-weight: bold;
}

.user-list .item .detail .title a {
    color: #328AF1;
}

.user-list .item .detail .title span {
    font-weight: normal;
    color: #999;
    font-size: 14px;
}

.user-list .item .detail .title i {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    margin-right: 4px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAMFBMVEUyMjJHcEw0NDQzMzMyMjIzMzMxMTEyMjIzMzMzMzMyMjIzMzMyMjIzMzM1NTUzMzMnLbvAAAAAD3RSTlOAAEC/fyEpqfPQtotRjD8qmyytAAAAmUlEQVQY02MQRAUMmPyo/zDwKxDEr/9sDAX2ikC+6P8PMMX8IL7Q/w9CSqh8gU+ofBEmVD66fgEm/PrRzcfQb4RfP7p6QnwlKIDyEQDCN0YJD6HPgqj6PwsKMDgwwvliQP7//x/hfMH5BSC+gAMDA4Qv/kHk//2P8kDjfyaC4yNJ5I/wRyGg/WrQ+BHZKNqIHF9CgoIPccQfAKTDa3kXDfEBAAAAAElFTkSuQmCC) no-repeat center;
    background-size: 100%;
}

.issue-list {
    margin-top: 20px;
}

.issue-list .item {
    display: flex;
    padding: 15px 20px;
    background: #F7F7F7;
    border: 1px solid #ECECEC;
    border-radius: 12px;
    margin-bottom: 12px;
}

.issue-list .item .detail em {
    font-style: normal;
}

.issue-list .item .detail .title {
    display: block;
    font-size: 16px;
    margin-bottom: 14px;
    font-weight: bold;
}

.issue-list .item .detail .title a {
    color: #328AF1;
}

.issue-list .item .detail .title span {
    font-weight: normal;
    color: #999;
    font-size: 14px;
}

.issue-list .item .detail .title i {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    margin-right: 4px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAMAAAB61OwbAAAAbFBMVEVHcEwjhjshhzohhjohhzkihTofiEIhhjkihToihjoggzghhjohhToihjohhjohhjoihzsihzshhjkihjobhjYjhTojhDkkiDkhhjkjhjolgzghhTkjhTshhjohhjojhzojhzwkhj0ghzgihjouPxOEAAAAI3RSTlMAJKCoVTgLv4DVQHuZ2+u5aLJ04hNtUUf0hRReSZRdxzMqIF+4wRoAAADRSURBVCjPrZPZEsIgDEXpRqHVutR91/P//+hDhabCDOOMebppDg1ZUOqfdrnOAbDHfSxcFYxWVEG8BOgWpmkXB4D1V3wrjumdBcwkboCz8HOgFP4N2ExOZBNCW++V5jWIBqx2QAu5/7dTV2gdYLk7WVO7JB3zj3zAMgRUDpUvoYoAS1/qDHQEyGA2qBVWRQDVs4oBRQjIFE2twhTyksLGS8oy13UZlikaderow0bJVuO/ylaLYT3NKTKs5LjTC5NeufTSptc+/XCG9FmT6d/e4xuTExrasCk+QgAAAABJRU5ErkJggg==) no-repeat center;
    background-size: 100%;
}

.issue-list .item .detail .title i.closed {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAeCAMAAADjLDWuAAAAh1BMVEVHcEzLJDHJJDDMIzHPJDHMJDHMIzDLJDDLJDHLJDDLJDHLJDHKIzDLJDHOJTHIIy/LJDHLJDHLJDHLJDHKJDHKJDDLIjDJJDHMJDHLJDHLJDDMJDDMIjHKIzDLJDDLJDLVKyvOJDHMIjPOJDHLJDHJJDLLJTHLIzHLIzLLJDC/QEDMIzHLJDEwVYo3AAAALHRSTlMA1IAkDliYQL9vzrdz8hQglevY5Ic1STGb+GVpLFHeqgY5HirGR7xdeo4Ewp2u0aAAAADbSURBVCjPrZPnEoIwEIQDiFLtFQv2+r3/8wkjJDHiZMbx/iR3O9nsbS5C/DO6q11v+w2czgcAxMtuA7pvA4vhcQRswg/44OAkk4oHzgbcAbcls5NDasKdt0JEoGWtCNcgDGirZEzf1DNbMKn3PQbeh2DtTKZzFeEHvhAeI3XXRYcvsCyWWEoeMtPgDK7lGuJXlZSydTe4v8q83FuTvOE34sL3BDJh4BV/zsO7IrUo/lpfTkS6rnUofbK/nI20WetP+ROuGj21+Gt9H9v7WufDOl/W+bTOt/1//BRPdHsZfUX4M1UAAAAASUVORK5CYII=);
}

.issue-list .item .detail .text {
    margin-bottom: 14px;
}

.issue-list .item .detail .more {
    color: #999;
}

.issue-list .item .detail .more a {
    color: #328AF1;
}
